.booking-hero{
  background-color: white;
  background-image: url('/book2.jpg');
  background-size: cover;
  background-position: center;
  height: 900px;
  display: flex;

  padding-top: 130px;
  padding-left: 60%;
}

.booking-form {
  max-width: 500px;  
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  border:2px solid rgb(255, 255, 255);
  padding-left: 40px;
  padding-right:40px;
  padding-top: 20px;
  background-color: #00000036;
  margin-bottom: 200px;

}

.booking-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.booking-form input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

.booking-form button {
  width: 100%;
  padding: 12px;
  background-color: #0a94eae9;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.booking-form button:hover {
  background-color: #6f7882;
}